input {
  background: $color-font-2;
  color: $color-bracket;
  font-family: Helvetica Neue, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 1rem;
  border: 3px solid $color-copyright;



}
#submit {
  padding: 1rem 2rem;
  margin-top: 1rem;
}
select {
  background: $color-font-2;
  color: $color-bracket;
  font-family: Helvetica Neue, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 1rem;
  border: 3px solid $color-copyright;

}
