textarea{
  width: 15rem;
  height: 6rem;
  background: $color-font-2;
  color: $color-bracket;
  font-family: Helvetica Neue, sans-serif;
  font-size: .75rem;
  border-radius: 5px;
  border: 3px solid $color-copyright;
}
